[project]
	state = active
[access "refs/heads/*"]
	create = group Grouper Maintainers
	forgeAuthor = group Grouper Maintainers
	forgeCommitter = group Grouper Maintainers
	push = +force group Grouper Maintainers
	pushMerge = group Grouper Maintainers
	label-Code-Review = -2..+2 group Grouper Maintainers
	label-Verified = -1..+1 group Grouper Maintainers
	submit = group Grouper Maintainers
